@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação das listras (exemplo) */
@keyframes moveStripes {
  0% { background-position: 0 0; }
  100% { background-position: 64px 0; } /* Ajuste o valor para controlar a velocidade */
}

.animate-stripes {
  animation: moveStripes 30s linear infinite; /* Ajuste a duração da animação */
}