@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000; /* Cor do texto */
  --background: #fff; /* Cor de fundo */
}

body {
  color: var(--foreground);
  background: var(--background);
}
